body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Logo */


/* navbar */

nav{
  display: flex;
  justify-content: space-between;

}

.navbar{
    display: flex;
    
}

.navbar{
    list-style: none;
}

.navbar li a{
   text-decoration: none;
}

/* Hero Image */

/* Products */

/* Footer */

.footer{
    background-color: grey;
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 14px;
    color:#ffffff;
}

.social-media-links li{
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-media-links li a{
    display: inline-block;
    color:#ffffff;
    font-size: 20px;
}