body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Logo */

.logo{
    list-style: none;
}

.logo ul li{
   list-style: none;
}
/* navbar */

nav{
  display: flex;
  justify-content: space-between;

}

.navbar{
    display: inline-block;
    
}

.navbar{
    list-style: none;
}

.navbar li a{
   text-decoration: none;
   background-color: black;
   padding: 10px;
   margin: 5px;
}

/* Hero Image */

/* Products */

/* Footer */

.footer{
    background-color: grey;
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 14px;
    color:#ffffff;
}

.social-media-links li{
    list-style: none;
    display: flex;
    justify-content: center;
    display: inline-block;
}

.social-media-links li a{ 
    color:#ffffff;
    font-size: 20px;
   
}