body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Logo */

.logo{
    background-color: #444;
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
}

/* navbar */

.navbar{
  display: flex;
  list-style: none;
  float: right;
}

.navbar li a{
   text-decoration: none;
   background-color: grey;
   color: #fff;
   padding: 10px;
   margin: 5px;
}

/* Hero Image */

.hero-image{
    background-image: url("images/make-up-brush.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
/* Products */

.wrapper{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px 50px;
    background-color: blueviolet;
    color: #444;
}

.product-1{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    margin: 40px;
}

/* Contact Form */

.form{
    text-align: center;
    margin:60px;
}
.contact-form{
    width: 50%;
    text-align: left;
    
}

.contact-btn{
    background-color: blue;
    padding: 10px;
    color: #fff;
}
input{
    width: 50%;
    font-size: 14px;
}
textarea{
   font-size: 14px;
}

.contact-btn{
    text-align: center;
}

/* Footer */

.footer{
    background-color: grey;
    width: 100%;
    padding: 50px;
    text-align: center;
    font-size: 14px;
    color:#ffffff;
}

.social-media-links li{
    list-style: none;
    display: flex;
    justify-content: center;
    display: inline-block;
    margin-right: 10px;
}

.social-media-links li a{ 
    color:#ffffff;
    font-size: 20px;
   
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    .navbar{
        flex-wrap: wrap;
    }

    .navbar li{
        flex-basis: 50%;
    }

  }